

<div class="row">
    <div class="sidebar col-2 text-center">
        <p class="fw-bolder fs-6 m-4"><a class="text-decoration-none" routerLink="/dashboard">Home</a></p>
        <p class="fw-bolder fs-6 m-4"> <a class="text-decoration-none" routerLink="/users">User</a></p>
    </div>

   <div class="col-8">
    <h2 class="mt-4 text-center">Update User</h2>
    <form #edituser="ngForm"  (ngSubmit)="editUser(user.id)" class="shadow p-3 m-5"><!--ngsubmit in pakaram buttenil-> (click)="adduser()" inganeyum kodukam+ -->      
        <input disabled=""  [(ngModel)]="user.id" #id="ngModel"  name="user.id" class="form-control mb-3 mt-2"  placeholder="Id" type="text" >
        <input [(ngModel)]="user.name" name="user.name" class="form-control mb-3"  placeholder="Name" type="text" >
        <input [(ngModel)]="user.email" name="user.email" class="form-control mb-3"  placeholder="Email" type="text" >

<label for="Status">Select Status of User</label>
<select [(ngModel)]="user.active" #status="ngModel" name="user.active" id="Status" class="form-control" >
    
    <option value="1">Active</option>
    <option value="0">Inactive</option>
</select>

        <div class=" my-4"> 
            <button  class="btn">Submit</button>
        </div>
    </form>
   </div>
   
   
</div>