<!-- Navbar -->
<nav class="navbar navbar-expand  " style="background-color: rgb(121, 94, 94);">


    <a class="navbar-brand mx-5 " href="">
        <!-- <img src=""
            width="80px" height="35%" /> -->
        <h2 class="text-light">E Cart</h2>
    </a>

    <!-- Container wrapper -->
    <div class="container-fluid justify-content-end ">

        <div class="d-flex align-items-center justify-content-md-end">
            <!-- Icon -->
<input class="form-control mx-5" type="text" placeholder="Serach Product">

            <a class="text-reset me-3" href="user/cart">
                <i class="fas fa-shopping-cart text-light "></i>
            </a>

            <a class="text-reset me-3  " href="user/wishlist">

                <i class="fa-solid fa-heart  text-light "></i>
            </a>


            <a class="text-reset me-3" href="user/login">
                <i class="fa-solid fa-user  text-light "></i>
            </a>


        </div>

    </div>

</nav>
<!-- Navbar -->